# Bonus: Temperature Analysis I

In [3]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [11]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [12]:
# Set the date column as the DataFrame index
df=df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [14]:
from scipy import stats

In [19]:
# Filter data for desired months
junedates_df=df[df.index.strftime("%m")=="06"]
decdates_df=df[df.index.strftime("%m")=="12"]
decdates_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [29]:
# Identify the average temperature for June
average_temp_june = junedates_df.groupby(junedates_df.index.strftime("%y"))
junetemps=average_temp_june.tobs.mean()
junetemps

date
10    74.925620
11    73.938326
12    74.000000
13    74.599078
14    75.027907
15    74.990148
16    75.175258
17    77.219895
Name: tobs, dtype: float64

In [32]:
# Identify the average temperature for December
average_temp_dec = decdates_df.groupby(decdates_df.index.strftime("%y"))
dectemps=average_temp_dec.tobs.mean()
dectemps

date
10    70.208511
11    70.820628
12    71.188073
13    71.094017
14    69.896861
15    73.423913
16    71.130000
Name: tobs, dtype: float64

In [ ]:
# Create collections of temperature data

In [35]:
# Run paired t-test
from scipy.stats import ttest_ind
ttest_ind(junetemps, dectemps, equal_var=False)

Ttest_indResult(statistic=6.9218571747346616, pvalue=1.4518830376438732e-05)

### Analysis

There is a difference in the means, as the pvalue is very small. Therefore, there is a difference between June temperatures and December temperatures, with December temperatures being significantly lower. I would still take the December temperatures though. I think this should be an unpaired ttest, because the question had us assume that the temperatures and the variances were equal between groups, therefore since the variance between groups is assumed to be equal it should be an unpaired test.